<footer>
    <div class="container">
        <div class="row pl-5">
            <div class="col pl-5">
                <p class="m-0">copyright &copy; 2020</p>
                <p class="m-0">Designed by <span class="text-danger">Joe</span></p>
            </div>
        </div>
    </div>
</footer>